.menu_back{
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 10%;
    animation: enterenter 0.5s ease-out both;

    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;

    box-sizing: border-box;
    margin: 4px 8px;
    /* 超出隐藏，因为要把伪元素文字遮挡住 */
    overflow: hidden;
    background: #ffffffd2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    pointer-events: auto;

    word-break: keep-all;
    pointer-events: auto;
    cursor: pointer;
}

.menu_body {
    position: fixed;
    display: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: enterenter 0.5s ease-out both;
}

.item {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 60px;
    /* 手风琴效果就是鼠标悬浮宽度过渡 */
    width: 60px;
    margin: 4px 8px;
    /* 超出隐藏，因为要把伪元素文字遮挡住 */
    overflow: hidden;
    background: #ffffffd2;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.5s;
}

.item:hover {
    width: 180px;
    border: none;
}

/* 悬浮加背景色 */
.first:hover .icon {
    background-color: pink;
}

.second:hover .icon {
    background-color: #e9e9e9;
}

.third:hover .icon {
    background-color: pink;
}

.fouth:hover .icon {
    background-color: #e9e9e9;
}

.fift:hover .icon {
    background-color: pink;
}

.six:hover .icon {
    background-color: #e9e9e9;
}

.seven:hover .icon {
    background-color: pink;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 28px;
    position: relative;
    transition: all 0.5s;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: none;
}

/* 通过伪元素添加内容介绍文字 */
.item:nth-child(1) .icon::after {
    position: absolute;
    content: '迷宫游戏';
    /* 宽度随着内容自适应 */
    width: fit-content;
    /* 文字不换行 */
    word-break: keep-all;
    /* 设置伪元素文字大小为中等大小 */
    font-size: medium;
    left: 72px;
    /* 真实元素阻止鼠标事件，伪元素自动鼠标事件 */
    pointer-events: auto;
    cursor: pointer;
}

.item:nth-child(2) .icon::after {
    position: absolute;
    content: '8皇后游戏';
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
}

.item:nth-child(3) .icon::after {
    position: absolute;
    content: '背包游戏';
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
}

.item:nth-child(4) .icon::after {
    position: absolute;
    content: '数独游戏';
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
}

.item:nth-child(5) .icon::after {
    position: absolute;
    content: '最大子序列和';
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
}

.item:nth-child(6) .icon::after {
    position: absolute;
    content: '加减游戏';
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
}

.item:nth-child(7) .icon::after {
    position: absolute;
    content: '网络流游戏';
    width: fit-content;
    word-break: keep-all;
    font-size: medium;
    left: 72px;
    pointer-events: auto;
    cursor: pointer;
}
/* 鼠标悬浮加文字下划线（给伪元素添加hover样式） */
.icon:hover::after {
    text-decoration: underline;
}